.studentappbody{
    background-color: #222A41;
}
.report1{
    background-color: #151D32;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(21, 29, 50, 0.1);
}
.reportheading{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 20px;
}
.studenticon{
    color: #618264;
    height: 60px;
    width: 60px;
    position: relative;
    left: 40px;
}
.searchicon{
    color: white;
    height: 17px;
    width: 17px;
    position: relative;
    left: 1012px;
    cursor: pointer;
}
.reportheading input{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid gray;
    color: white;
    height: 40px;
    position: relative;
    left: 1030px;
}
.reportheading input::placeholder{
    color: white;
}
.reportheading h2{
    position: relative;
    left: 55px;
    color: white;
}
.report hr{
    height: 3px;
    background-color: #F0042F;
    border: none;
}
.reportinfo{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 150px;
}
.infoheader{
    background-color: #222A41;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.infoheader h3{
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.bodyrow{
    background-color: #222A41;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    height: 150px;
}
.infobody{
    margin-bottom: 200px;
}
.row1{
    display: flex;
    flex-direction: row;
}
.row11{
    width: 170px;
    height: 130px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
    top: 5px;
}
.row1 img{
    height: 110px;
    width: 110px;
    border-radius: 8%;
    position: relative;
    top: 10px;
}
.row1 .row11 h4{
    position: relative;
    font-size: 17px;
    bottom: 5px;
    cursor: pointer;
    color: white;
}
.row1 .row11 h4:hover{
    color: #1F5C73;
}
.row1 .row11 h5{
    font-size: 15px;
    color: white;
    position: relative;
    bottom: 45px;
}
.row1 .row11 p{
    color: white;
    font-size: 14px;
    position: relative;
    bottom: 75px;
}
.row121 button{
    height: 30px;
    width:150px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #3459DE;
    position: relative;

}
.row121 button:hover{
    transform: scale(1.1);
}