.mySlides {display: none;}
img {vertical-align: middle;}
.slideshowcontainer {
    max-width: 1150px;
    position: relative;
    margin: auto;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
@keyframes livecountanimation {
    from {
        opacity: 0;
        transform: translateY(30px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
}
.livecountsi{
    opacity: 0;
}
.livecounts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin-top: 50px;
    padding-left: 100px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.176);
    animation: livecountanimation 2s ease-in-out;
}

.livecounts2{
    text-align: center;
    width: 300px;
    padding-right: 50px;
}

.livecounts1{
    text-align: center;
    width: 300px;
    border-right: 1rem;
    border-right: 1px solid #ddd;
    padding-right: 50px;
}

.livecounts hr {
    height: 1px;
    background-color: #ddd;
    border: none;
    margin: 10px 0;
}

.livecounts p {
    margin-bottom: 5px;
    font-size: 20px;
}

.livecounts span {
    font-style: Arial;
    font-size: 6em;
    font-weight: bold;
    display: inline-block;
}
.homenotice{
    display: flex;
    align-items: center;
    height: 150px;
    background: #ebebeb;
    margin-top: 100px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.176);
}
.homenotice div{
    display: flex;
    align-items: cen;
    height: 70px;
    margin-left: 30px;
    border-left: 3px solid orange;
}
.homenotice h1{
    padding-left: 60px;
}
.homenotice div p{
    padding-left: 50px;
    font-size: 20px;
}
.topfaculties{
    margin-top: 60px;
}
.topfaculties h1{
    text-align: center;
}
.topfaculties1{
    padding-left: 100px;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
}
.topfaculties1 div div{
    width: 350px;
}
.topfaculties1 div div p{
    font-weight: 550;
}
.topfaculties1 div h4{
    font-size: 20px;
    font-weight: 500;
}
.topfaculties1profilei{
    opacity: 0;
}
.topfaculties1profile{
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
    animation: livecountanimation 1.5s ease-in-out;
}
.topnews{
    margin-top: 60px;
}
.topnews1{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 70px;
    display: flex;
}
.topnews1 div{
    padding-left: 20px;
    padding-right: 20px;
}
.topnews1 img{
    height: 300px;
    width: 500px;
}
.topnews1img{
    opacity: 0;
}
@keyframes imagefade {
    from {
        opacity: 0;
        transform: translateX(-10px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
}
@keyframes imagefade1 {
    from {
        opacity: 0;
        transform: translateX(10px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
}
.topnews1imganimation{
    animation: imagefade 1.5s ease-in;
}
.topnews1imganimation1{
    animation: imagefade1 2s ease-in;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.topnews2{
    opacity: 0;
}
.animation {
    animation: fadeIn 1.5s ease-out;
}
.aboutus{
    margin-top: 60px;
}
.aboutus h1{
    text-align: center;
    padding-bottom: 40px;
}
.aboutus p{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}
.aboutus h4{
    text-align: center;
}

