.reportinfo{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #EAF1F3;
}
.reportinfo h1{
    width: 50%;
    margin-bottom: 50px;
    margin-top: 20px;
    position: relative;
    left: 20px;
}
.infoheader{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.infoheader h3{
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.bodyrow{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 5px;
}
.infobody{
    margin-bottom: 200px;
}
.row1{
    height: 225px;
}
.row11{
    width: 170px;
    display: flex;
    flex-direction: row;
}
.row11 img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 3px;
}
.row1 .row11 h4{
    position: relative;
    font-size: 17px;
    left: 17px;
    top: -15px;
    cursor: pointer;
    color: black;
}
.row1 .row11 h4:hover{
    color: #1F5C73;
}
.row12{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 108px;
    position: relative;
    left: 62px;
    bottom: 48px;
}
.row13{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 108px;
    position: relative;
    left: 62px;
    bottom: 87px;
}
.row14{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 108px;
    position: relative;
    left: 62px;
    bottom: 126px;
}
.row15{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 108px;
    position: relative;
    left: 62px;
    bottom: 165px;
}
.row15 a{
    text-decoration: none;
    color: rgb(190, 189, 189);
    font-weight:300;
    font-size: 13px;
    position: relative;
    left: 10px;
    top: 0px;
}
.row15 a:hover{
    color: #1F5C73;
}
.bodyrow p{
    font-size: 13px;
    position: relative;
    left: 7px;
}
.row16 p{
    width: 150px;
    position: relative;
    bottom: 30px;
}
.row2 h4{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    right: -15px;
}
.row101 img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-top: 10px;
}
.row111 img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: relative;
    left: -1px;
}

.row16{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: fit-content;
    bottom: 180px;
}
.row3{
    width: 80px;
    position: relative;
    right: -17px;
}
.row4{
    width: 100px;
    position: relative;
    left: 20px;
    position: relative;
    left: 35px;
}
.row5{
    position: relative;
    left: 50px;
}
.row6{
    position: relative;
    left: 65px;
}
.row7{
    position: relative;
    left: 65px;
    width: 80px;
}
.row8{
    width: 80px;
    position: relative;
    left: 90px;
}
.row9{
    width: 110px;
    position: relative;
    left: 70px;
}
.row101{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    position: relative;
    left: 60px;
}
.row101 h4{
    width:100px ;
    text-align: center;
    cursor: pointer;
}
.row101 h4:hover{
    color: #1F5C73;
}
.row111{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    position: relative;
    left: 45px;
}
.row111 h4{
    width:100px ;
    text-align: center;
    cursor: pointer;
}
.row111 h4:hover{
    color: #1F5C73;
}
.row111 h4{
    width:100px ;
    text-align: center;
}
.row121 button{
    height: 30px;
    width: 90px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #DC2525;
    position: relative;
    right: 18px;

}
.row121 button:hover{
    transform: scale(1.1);
}
.askbtn{
    height: 30px;
    width: 80px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #273B4A;
    position: relative;
}
.askbtn:hover{
    transform: scale(1.1);
}
.row121 h4{
    color: green;
    position: relative;
    height: 30px;
    width: 90px;
    top: 7px;
    right: 2px;
}
.row101 h5{
    font-size: 16px;
    position: relative;
    text-align: center;
}
.row111 h5{
    color: #F0042F;
    font-size: 16px;

}
.deleteicon{
    height: 20px;
    width: 20px;
    color: red;
    cursor: pointer;
    position: relative;
    bottom: 10px;
}
.row1011{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: relative;
    bottom: 15px;
}
.row1011 div{
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
}
.row1011 div h5{
    text-align: left;
}
.row1011 img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-bottom: 7px;
}
.row1011 h5{
    font-size: 13px;
    cursor: pointer;
}
.row1011 h5:hover{
    color: #1F5C73;
}
.myapphead{
    background-color: #7B7C8D;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.myapphead div{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 10px;
}
.myappheadh3{
    color: #A1CCD1;
    cursor: pointer;
    position: relative;
    left: 20px;
}